#center {
  margin:0px;
  position:sticky;
  top:0;
  left:0;
  z-index:1;
  background-color:black;
  background-blend-mode:multiply;

  @media (max-width: 1024px) {
    padding: 0px 20px 24px;
    gap: 18px;
  }
}
#logo {
  font-family:monospace;
  font-weight:bolder;
  color:white;
}
.socialI {
  margin:3px 0px;
}
.socialI a {
text-decoration:none;
margin:2px 5px;
}
.socialI img {
  display:inline;
  width:40px;
  margin:5px auto;
  height:40px;
}
.part1 {
  display:flex;
  flex-direction:row;
}
.part1 #about {
  width:60%;
  margin-right:30px;
  background-image:linear-gradient(to left, white, red);
  background-clip:text;
  color:transparent;
  font-weight:bolder;
}
.part1 #link {
  color:white;
 font-weight:bolder; 
}
body {
 background-image:linear-gradient(rgba(0,0,0,0.7), rgba(128,0,128,0.3));

}
 .navs a {
  color:red;
  font-weight:bold;
  background-color:white;
  padding:5px 10px;
  margin:2px 5px;
  text-decoration:none;
  border-radius:8px;
  border:2px solid white;
}
.navs a:focus {
  color:white;
  background:black;
  padding:10px 15px;
}

.navs {
  width:90vw;
  margin:10px auto;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
}

#searchbox {
  width:70%;
  padding:10px 5px;
  font-size:15px;
  border:2px dashed white;
  border-right:none;
  border-top-left-radius:12px;
  font-family:Sans-Serif;
  font-variant:small-caps;
  outline:none;
  border-bottom-left-radius:12px;
}
button {
  padding:10px 5px;
  font-size:15px;
  border-left:none;
  border-top-right-radius:12px;
  border-bottom-right-radius:12px;
  border:2px dashed white;
}
#intro {
  width:330px;
 display:flex;
 height:300px;
 margin:10px auto;
 padding:15px;
 border-radius:8px;
 flex-direction:row;
 align-items:center;
 justify-content:center;
 background-image:linear-gradient(to right, white, red, gray);
  backdrop-filter:blur(1px);
}
.sectionA, .sectionB {
  color:white;
  background-color:rgba(0,0,0,0.6);
  border-top-left-radius:13px;
  border-bottom-right-radius:13px;
  margin:5px;
  padding:10px;
  transition-property:background-color;
  transition-duration:4s;
  transition-delay:.1s;
}
.sectionA:hover, .sectionB:hover {
 background-color:black;
}
.sectionA h3, .sectionB h3 {
  color:white;
  font-weight:bolder;
  font-family:cursive;
}
.category {
  box-sizing:border-box;
  float:left;
  width:30%;
  height:70%;
  overflow:scroll;
  padding:0px 1px;
  border-radius:8px;
  margin-top:55px;
  margin-left:10px;
  margin-right:10px;
}
.idea {
 box-sizing:border-box;
  float:left;
  color:white;
  border-radius:12px;
  width:60%; 
  margin:5px;
}
.idea img {
  width:90%;
  height:80%;
  margin-top:16px;
  border-radius:12px;
}
.category p {
  color:white;
  font-weight:bold;
  text-align:center;
  border-radius:9px;
  margin:10px 8px;
  padding:5px 12px;
}
.categoryhover {
  background-color:white;
  font-weight:bolder;
}
.show {
  width:90%;
  margin:auto;
  height:400px;
}
.cart {
  display:flex;
  width:90%;
  padding:8px;
  flex-direction:column;
  margin:auto;
}
.cart div {
  width:85%;
  border:2px solid black;
  border-radius:8px;
  margin:6px auto;
  background-color:wheat;
  color:black;
  font-weight:bolder;
  padding:5px;
}
.featuredCD {
  position:absolute;
  top:0px;
  height:100%;
  width:100%;
  display:block;
border-radius:12px;
}
.Finfo {
  position:absolute;
  bottom:0;
  padding:5px 0px;
  border:none;
  border-bottom-left-radius:12px;
  border-bottom-right-radius:12px;
  background-image: linear-gradient(to top, rgba(255,255,255,0.2), rgba(255,140,29,0.1));
  backdrop-filter:blur(2px);
  text-align:center;
  box-shadow:1px -2px 22px rgba(255,140,29,0.2);
  overflow:hidden;
  display:block;
  width:100%;
}
.Finfo h3 {
  font-family:Serif;
  color:white;
  text-transform:small-caps;
}
.Finfo section {
  font-family:serif;
  color:white;
  font-weight:bolder;
}
.proo {
  background-blend-mode:multiply;
  width:300px;
  padding:0;
  height:400px;
  border:2px solid white;
  margin:auto;
  display:inline;
  border-radius:12px;
  position:relative;
}
.howC {
  display:flex;
  flex-direction:column;
}
.hKid {
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  margin:10px 5px;
}
.hKid h1 {
  display:inline;
  padding:5px;
  border-right:2px solid wheat;
  margin:auto 5px;
  width:30%;
  position:relative;
}
.hTip {
  position:absolute;
  top:60px;
  left:118px;
  
  border-radius:90px;
  box-shadow:1px 1px 2px white;
}
.hKid section {
  width:60%;
 padding:10px; 
 margin:auto 5px;
 font-variant:small-caps;
 font-family:Sans-Serif;
 font-weight:bolder;
 font-style:italic;
 color:white;
}
.feedBo {
  margin:10px;
  height:200px;
  width:80%;
  flex-shrink:0;
  border-radius:13px;
  background-image:rgba(255,255,255,0.2);
  backdrop-filter:blur(4px);
  color:rgb(0,0,0);
  font-weight:bolder;
  border:2px solid grey;
}
.customersF {
  width:100%;
  height:300px;
  display:flex;
  flex-direction:row;
  align-items:center;
  overflow:scroll;
}
.feedBo section {
  display:flex;
  margin:8px 0px;
  flex-direction:row;
  padding:4px 5px;
}
.feedBo p {
  padding:5px;
}
.feedBo small {
  float:right;
  margin-right:5px;
}
.feedBo section img {
  height:50px;
  width:50px;
  margin:0px 5px;
  border-radius:90px;
}
.feedBo section h5 {
  margin:auto 7px;
}
.feedBo section h6 {
  float:right;
  margin:auto 5px;
}
#hire {
  color:white;
  background-color:purple;
  border:2px solid black;
  border-radius:12px;
  display:inline-block;
  padding:10px;
  font-size:25px;
  margin:5px 6px;
}
#be {
  color:white;
  display:inline-block;
  font-size:25px;
  background-color:black;
  border:2px solid purple;
  border-radius:12px;
  padding:10px;
  margin:5px 6px;
}
.decide span {
  font-size:70px;
  color:black;
  margin:auto 7px;
  font-weight:bolder;
  font-family:cursive;
}
#footD {
 position:relative;
 width:100%;
}
#footDTT {
  position:absolute;
  top:-2px;
  left:10em;
  font-family:cursive;
}
#footDTT::before, #footDTT::after {
  content:"o-----o";
}